<div class=" container jumbotron">
    <form name="myform" class="form-group" style="text-align: center;">
        <h3>Login</h3>
      
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <label for="pwd"></label>
                <input [(ngModel)]="loginData.email" name="email" type="text" class="form-control" placeholder="Email" required>
            </div>
        </div>
        <div class="row"> 
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <label for="pwd"></label>
                <input [(ngModel)]="loginData.password" name="password" type="password" class="form-control" placeholder="Password" required>
            </div>
        </div>
        <div class="row"> 
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <label for="pwd"></label>
                <button type="submit" class="btn btn-blue btn-block" (click)="post()">Login</button> <br>
                <h6 style="text-align: center;">Forgot Password?<a href="#">Click here</a></h6>
               
            </div>
        </div>

        
    </form>
</div>