.logo-name{
    font-size: 3em;
    font-family: 'Piedra', cursive;
    text-align: center;
    /* background-color: aqua; */
    background: url(https://img.freepik.com/free-vector/colourful-banner_1048-10612.jpg?size=626&ext=jpg    );
    font-weight: 500;
}
.nav-item{
    margin-right: 15%;
    color: black;
    font-weight: 500;
}
.nav-link{
    margin-right: 15%;
}
.nav-item:hover{

    color: #fc2779;
   
    background-color: white;
    
}
nav ul li a:hover{
    color: #fc2779;
    background-color: white;


}
.nav-link:hover{
   
    color: #fc2779;
    }
    .nav-link:active{
        color: #fc2779;
    }
#dropdown{
    position: relative;
    display: inline-block;  
}
#dropdown-menu{
    border: none;
}
#dropdown-item{
    font-size: 15px;
    padding: 15px;
    
}
#dropdown-item:hover{
    color: #fc2779;
    font-size:large;
   font-style: initial;
     background-color: white;
 }
 #dropdown:hover #dropdown-menu {display: block;}

 .dropdown{
    position: relative;
    display: inline-block;
    
}
.dropdown-menu{
    border: none;
}
.dropdown-item{
    font-size: 15px;
    padding: 15px;
}
.dropdown-item:hover{
    color: #fc2779;
    font-size:large;
     background-color:white;
 }
 .dropdown:hover .dropdown-menu {display: block;}
.fas:hover{
 color: #fc2779;
}
.fas:active{
    color: #fc2779;
}
.container-fluid{
    background: #ffcdd2;
}
