<div class="container">
    <div class="card-deck">
        <div *ngFor="let bw of jackets; let i=index" class="card mb-5" style="min-width: 18rem;">
            <img src="{{bw.front}}" class="card-img-top">
            <img src="{{bw.back}}" class="img-top">
            <div class="card-body">
                <h3 data-toggle="tooltip"  title="{{bw.name|lowercase}}">
                    {{(bw.name.length>14)?(bw.name | slice:0:12)+'..':(bw.name)}}
                </h3>
                <p style="float: left; " class="card-text"><b> &#x20b9;{{bw.price}}/-</b></p>
                <i style="float:right"class="far fa-heart"></i>
            </div>
            <button style="width: 100%;" class="btn btn-success" (click)="addItem(i)" >Add to Cart</button>
        </div>
    </div>
</div>