<div class="container text-center" *ngIf="cartItems.length == 0">
    <i class="fas fa-shopping-bag" style="font-size: 10em;margin-top: 1em;"></i>
    <h2 style="color: hotpink;">It's lonely here</h2>
    <h4 style="color: hotpink;">Browse your Favourite Fashion Collection</h4>
    <a routerLink="" style="background-color: pink; color: black;" class="btn btn-outline mt-2">Continue Browsing</a>
</div>
<div class="container" *ngIf="cartItems.length > 0">
    <div class="row">
        <div class="col-md-12 p-1 m-3">
            <h3 style="color: lightslategray;">Total {{cartItems.length}} item(s)</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card p-1 mb-3" *ngFor="let c of cartItems;let i=index">
                <div class="row">
                    <div class="col-md-2 ">
                        <img src="{{c.front}}" width="100px" height="100px" class="img-thumbnail">
                    </div>
                    <div class="col-md-8">
                        <h5 style="color: darkslategray;">{{c.name}}</h5>
                        
                        <small><s> &#x20b9;{{c.price+300}}/-</s></small>
                        <h6 style="color: blueviolet;"> &#x20b9;{{c.price}}</h6>
                        <h6 style="text-align: left;color:yellowgreen">
                            <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="far fa-star"></i>
                         </h6>
                    </div>
                    <div class="col-md-2 text-right">
                        <i class="fas fa-trash" (click)="remove(i)"></i> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-right">
            <div class="card">
                <h3 style="text-align: center;">Order Summary</h3>
            <hr>
            <p onload="showItems()">Subtotal</p>
            
            <button class="btn btn-success" (click)="checkOut()" style="font-size: 10px;">PlaceOrder</button>
 
            </div>
       </div>
    </div>
</div>