.container-fluid{
    width:100%;
    height: 100%;
    background: white;
}
h3{
    font-family: 'Dancing Script', cursive;
    color: white;
    
}
h5{

    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster', cursive;   
    font-size: 2em;
    color: olive;
    
}
.font{
    font-size: large;
}